<div class="container">
  <div class="row">
    <div class="col-md-12">
      <label>Введите номер:</label>
      <input type="tel" name="phone" [(ngModel)]="userp.phone" />
      <p>Номер: {{userp.phone}}</p>
      <button (click)="submit(userp)">Получить</button>
      
      <div *ngIf="done">
        <div class="incomingCall">
          <h4>Входящий вызов: <strong>{{userp.phone}}</strong></h4>
          <p>Пользователи по номеру:</p>
          <ul>
            <li *ngFor="let userData of data" (click)="uid=userData.uid; card=true">
              ФИО: {{userData.fio}}<br>
              Адрес: {{userData.settlementname+', '+userData.lane+ ' ' +userData.house}}
            </li>
          </ul>
        </div>

        <div *ngIf="card">
          <app-card [uid]="uid" (onClose)="visibility()"></app-card>
        </div>
      </div>

    </div>
  </div>
</div>

